<div class="wrapper">
    <div class="form-left">
        <h2 class="text-uppercase">information</h2>
        <p>
            Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.feugiat sed. Diam volutpat commodo.
        </p>
        <p class="text">
            <span>Sub Head:</span>
            Vitae auctor eu augudsf ut. Praesent elementum facilisis leo vel.
        </p>
        <div class="form-field">
            <input type="submit" class="account" routerLink="/register" value="Not Account?">
        </div>
    </div>
    <form [formGroup]="userLoginForm" class="form-right">
        <h2 class="text-uppercase">Login Form</h2>
        <div class="row">
            
        
        </div>
        <div class="mb-3">
            <label>Your Email</label>
            <input type="email" class="input-field" name="email" required formControlName="email" required>
            <div class="text-danger" style="font-size: small;">
                @if(userLoginForm.controls['email'].hasError('required') && userLoginForm.controls['email'].touched){
                    <span>Required!!.</span>
                }@else if(userLoginForm.controls['email'].hasError('email')){
                    <span>this is not valid email..plz enter proper.</span>
                }
            </div>
        </div>
        <div class=" mb-3">
            <label>Password</label>
            <input type="password" name="pwd" id="pwd" class="input-field" formControlName="password" required>
            <div class="text-danger" style="font-size: small;">
                @if(userLoginForm.controls['password'].hasError('required') && userLoginForm.controls['password'].touched){
                    <span>Required!!.</span>
                }@else if(userLoginForm.controls['password'].hasError('pattern')){
                    <span>password must at least 8 character long including at least 1 digit and 1 symbol </span>
                }
            </div>
        </div>
        <div class="form-field">
            <input type="submit" value="Login" class="login" name="login" [disabled]="userLoginForm.invalid" (click)="login()">
        </div>
    </form>
</div>
