<!-- <body class="vh-100" style="background-color: #eee;"> -->
    <div class="wrapper">
        <div class="form-left">
            <h2 class="text-uppercase">information</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et molestie ac feugiat sed. Diam volutpat commodo.
            </p>
            <p class="text">
                <span>Sub Head:</span>
                Vitae auctor eu augudsf ut. Malesuada nunc vel risus commodo viverra. Praesent elementum facilisis leo vel.
            </p>
            <div class="form-field">
                <input type="submit" class="account" value="Have an Account?">
            </div>
        </div>
        <form [formGroup]="userRegisterForm" class="form-right">
            <h2 class="text-uppercase">Registration form</h2>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label>First Name</label>
                    <input type="text" name="first_name" id="first_name" class="input-field" formControlName="fname" required> 
                    <div class="text-danger" style="font-size: small;" >
                        @if(userRegisterForm.controls['fname'].hasError('required') && userRegisterForm.controls['fname'].touched){
                            <span>Required!!.</span>
                        }@else if (userRegisterForm.controls['fname'].hasError('minlength')) {
                           <span>name should be at least 2character long</span>
                        }@else if (userRegisterForm.controls['fname'].hasError('maxlength')) {
                            <span> name should be less than 10characters.</span>
                        }
                    </div>
                </div>
                <div class="col-sm-6 mb-3">
                    <label>Last Name</label>
                    <input type="text" name="last_name" id="last_name" class="input-field" formControlName="lname" required>
                    <div class="text-danger" style="font-size: small;" >
                        @if(userRegisterForm.controls['lname'].hasError('required') && userRegisterForm.controls['lname'].touched){
                            <span>Required!!.</span>
                        }@else if (userRegisterForm.controls['lname'].hasError('minlength')) {
                           <span>name should be at least 2character long</span>
                        }@else if (userRegisterForm.controls['lname'].hasError('maxlength')) {
                            <span> name should be less than 10characters.</span>
                        }
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label>Your Email</label>
                <input type="email" class="input-field" name="email" required formControlName="email" required>
                <div class="text-danger" style="font-size: small;">
                    @if(userRegisterForm.controls['email'].hasError('required') && userRegisterForm.controls['email'].touched){
                        <span>Required!!.</span>
                    }@else if(userRegisterForm.controls['email'].hasError('email')){
                        <span>this is not valid email..plz enter proper.</span>
                    }
                </div>
            </div>
            <div class=" mb-3">
                <label>Password</label>
                <input type="password" name="pwd" id="pwd" class="input-field" formControlName="password" required>
                <div class="text-danger" style="font-size: small;">
                    @if(userRegisterForm.controls['password'].hasError('required') && userRegisterForm.controls['password'].touched){
                        <span>Required!!.</span>
                    }@else if(userRegisterForm.controls['password'].hasError('pattern')){
                        <span>password must at least 8 character long including at least 1 digit and 1 symbol </span>
                    }
                </div>
            </div>
                
               
            
            <div class="mb-3">
                <label class="option">I agree to the <a href="#">Terms and Conditions</a>
                    <input type="checkbox" checked formControlName="isAgree" required>
                    <span class="checkmark"></span>
                </label>
                <div class="text-danger" style="font-size: small;">
                    @if(userRegisterForm.get('isAgree').invalid){
                      <span>You must agree before submitting.</span>
                    }
                    
                </div>
            </div>
            <div class="form-field">
                <input type="submit" value="Register" class="register" name="register" [disabled]="userRegisterForm.invalid" (click)="submit()">
            </div>
        </form>
    </div>
    
